<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

  <!--renderer renderedClass="java.lang.Throwable"
            renderingClass="com.orbitz.logging.log4j.ThrowableRenderer"/-->

  <!--
    CONSOLE appender
  -->
  <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="[%c] %-5p %m%n"/>
    </layout>
  </appender>

  <logger name="com.vxml.tag">
    <level value="INFO"/>
  </logger>

 
  <!-- Any loggers not configured for a specific appender above will log to the console. -->
  <root>
    <level value="WARN"/>
    <appender-ref ref="CONSOLE"/>
  </root>

</log4j:configuration>

